// header
$header-height: 50px;
$header-bgcolor:#F9F9F9;
$header-fontsize:12px;
$header-logosize:20px;
$font-color-transparent: rgba(255, 255, 255, 0.5);
$menu-width: 250px;
$menu-blackgroundcolor:rgb(237,237,237);
$menu-blackgroundcolor-active:rgb(231,231,231);
$menu-fontsize:13px;
$mini-player-height:60px;
$mini-player-zindex:1200;
$layout-content-min-width: 700px;
$center-content-max-width: 1200px;

$playlist-zindex:1000;
$playlist-blackgroundcolor:rgb(250,250,250);

$player-zindex:100;
